<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cadastro_cliente</title>
</head>
<body>
    <main>
        <form method="POST">
            {% csrf_token %}
            <section>
                <lable>Nome</lable>
                <input type="text" name="nome" value="{{info.nome}}" >
            </section>
            <section>
                <lable>E-mail</lable>
                <input type="email" name="email" value="{{info.email}}" >
            </section>
            <section>
                <lable>Telefone</lable>
                <input type="text" name="telefone" value="{{info.telefone}}" >
            </section>
            <section>
                <lable>CPF</lable>
                <input type="text" name="cpf" value="{{info.cpf}}" >
            </section>
            <section>
                <lable>CEP</lable>
                <input type="text" name="cep" value="{{info.cep}}" >
            </section>
            {% if mensagem %}
                <p>{{mensagem}}</p>
            {% endif %}
            <input type="submit" value="Cadastrar">
            <input type="reset" value="Limpar">
            <input name="" type="button" onClick="window.open('/cliente/lista_dos_clientes')" value="clientes cadastrados">
        </form>
    </main>
</body>
</html>