<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cadastro_cliente</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        nome
        <input type="text" name="nome"> <br/>
        email
        <input type="text"name="email"><br/>
        telefone
        <input type="text" name="telefone"><br/>
        cpf
        <input type="text" name="cpf"><br/>
        cep
        <input type="text" name="cep"><br/>
        <input type="submit" value="cadastrar" >
    </form>
</body>
</html>