<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>deletar_cliente</title>
</head>
<body>
    <h1>Deseja deletar este cliente?</h1>
    <p>Nome:{{cliente.nome}}</p>
    <p>CPF:{{cliente.cpf}}</p>
    <p>E-mail:{{cliente.email}}</p>
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Deletar" style="background-color: red; color: white;">
    </form>
</body>
</html>