<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cadastro_cliente</title>
    <style>
	#roupa{
	   background-color:red;
	   color:white;
	}
	#cliente{
	   background-color:black;
	   color:white;
	}
    </style>
</head>
<body>
	<input id="roupa" name="" type="button" onClick="location.href='/cliente/cadastro_roupa/'" value="cadastrar roupa">
	<input id="cliente" name="" type="button" onClick="location.href='/cliente/cadastro_cliente/'" value="cadastrar cliente">

</body>
</html>
