<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista_Clientes</title>
</head>
<body> 

    <table>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>CEP</th>
        </tr>
        {% for cliente in lista_clientes %}
        <tr>
            <td> {{cliente.nome}} </td>
            <td> {{cliente.cpf}} </td>
            <td> {{cliente.email}} </td>
            <td> {{cliente.telefone}} </td>
            <td> {{cliente.cep}} </td>
            <td> <a href="/cliente/deletar_cliente/?cliente_id={{cliente.id}}">Deletar</a> </td>
            <td> <a href="/cliente/editar_cliente/?cliente_id={{cliente.id}}">editar</a> </td>
            
        </tr>
        {% endfor %}
    </table>
    <a href="/cliente/cadastro_cliente/">CadastrarCliente</a>
</body>
</html>